
<!-- Previous Button -->
<div class="previous{% if not prev_url %} disabled{% endif %}">
    <a href="{{ prev_url or '#' }}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        Older Posts
    </a>
</div>

  
<!-- Next Button -->
<div class="next{% if not next_url %} disabled{% endif %}">
    <a href="{{ next_url or '#' }}" class="inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        Newer Posts
    </a>
</div>

  