{% extends 'base.html' %}

{% block app_content %}
    <!-- Form -->
    <section class="bg-white dark:bg-gray-900">
        <div class="mb-0 py-8 lg:py-4 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">{{ title }}</h2>
            <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
                Use the form below to test out the tag system for each of your post.
            </p>
            <form action="#" class="space-y-8">
                <div>
                    {{ form.username.label(class_="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300") }}
                    {{ form.username(class_="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light") }}
                    {% for error in form.username.errors %}
                        <span class="text-red-500">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>                    
                    {{ form.email.label(class_="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300") }}
                    {{ form.email(class_="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light") }}
                    {% for error in form.email.errors %}
                        <span class="text-red-500">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="sm:col-span-2">                    
                    {{ form.body.label(class_="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300") }}
                    {{ form.body(ols=50, rows=4,class_="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light") }}
                    {% for error in form.body.errors %}
                        <span class="text-red-500">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="sm:col-span-2">                    
                    {{ form.tags.label(class_="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300") }}
                    {{ form.tags(ols=50, rows=4,class_="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light") }}
                    {% for error in form.tags.errors %}
                        <span class="text-red-500">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.submit(class_="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-orange-300 sm:w-fit hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-500 dark:focus:ring-orange-500") }}
            </form>
        </div>
    </section>
    <!-- End for post form -->

    <!-- User responses -->

    <div class="flex items-center justify-center">
        <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4 p-5">
            
            <div class="m-4 max-w-2xl px-8 py-4 mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800" style="cursor: auto;">
                <div class="flex items-center justify-between">
                    <span class="text-sm font-light text-gray-600 dark:text-gray-400">Jan 15, 2022</span> 
                    <a class="px-3 py-1 text-sm font-bold text-gray-100 transition-colors duration-200 transform bg-gray-600 rounded cursor-pointer hover:bg-gray-500">JavaScript</a>
                </div> 
                <div class="mt-2">
                    <a href="https://stackdiary.com/" class="text-2xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline">How to sanitiz array() in JS</a> 
                    <p class="mt-2 text-gray-600 dark:text-gray-300">Dui urna vehicula tincidunt pretium consequat luctus mi, platea fermentum conubia tempus ac orci. Pellentesque dictum malesuada cubilia faucibus dignissim mi nascetur senectus, augue ad libero efficitur dolor duis lobortis, non etiam sociosqu.</p>
                </div> 
                <div class="flex items-center justify-between mt-4">
                    <a href="#" class="text-blue-600 dark:text-blue-400 hover:underline">Read more ⟶</a> 
                    <div class="flex items-center">
                        <img src="https://stackdiary.com/140x100.png" alt="Author Photo" class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block"> 
                        <a class="font-bold text-gray-700 cursor-pointer dark:text-gray-200">John Doe</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End of user reponses -->

    <!-- Pagination -->
    <div class="flex items-center justify-center text-center">
        <div class="grid grid-cols-1">
            {% include '_pagination.html' %}
        </div>
    </div>
{% endblock %}